<h2>Email de contact</h2>
<p>
    <strong>Nom :</strong> {{ data.last_name }}<br>
    <strong>Prénom :</strong> {{ data.first_name }}<br>
    <strong>Email :</strong> {{ data.email }}<br>
    <strong>Objet :</strong> {{ data.subject }}
</p>
<p>
    <strong>Message :</strong> {{ data.body }}
</p>